:root {
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {
    background-color: #292E36;
    color: #fff;
}






/* Home Page */

/*Home Container */

.home_container {
    position: absolute;
    width: 1360px;
    top: 50px;
    left: 90px;
}

/* Title */

.title {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 40px;
}

.number_title {
    width: 295px;
    height: 73px;
    border: 2px solid #E1B168;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
}

.number_title p,
.reserve {
    font-weight: 400;
    font-size: 22px;
    line-height: 33px;
}

.image_title {
    width: 378px;
    height: 188px;
}

.button_title {
    width: 295px;
    height: 73px;
    background-color: #E1B168;
    color: #292E36;
    display: flex;
    justify-content: center;
    align-items: center;
}

.reserve {
    background-color: #E1B168;
    color: #292E36;
    border: none;
}

.title_menu_img {
    display: none;
    align-self: baseline;
    position: absolute;
    top: -30px;
    left: -73px;
}

/* Header */

header {
    display: flex;
    align-items: center;
    border-top: 2px solid #5C6168;
}

.header_link {
    margin-top: 15px;
    margin-left: 33px;
    display: flex;
    align-items: center;
    min-width: 796px;
    justify-content: space-around;
}

.hidden {
    display: none;
    align-items: start;
    justify-content: center;
    padding: 84px;
    flex-direction: column;
    background-color: white;
    width: 360px;
    height: 611px;
    gap: 50px;
    position: relative;
    top: -353px;
    left: -90px;
    z-index: 2;
    border: 13px solid #E1B168;
}

.hidden img {
    align-self: self-end;
    margin: -57px;
    cursor: pointer;
}

.header_link a {
    color: #FFFFFF;
    font-weight: 400;
    font-size: 33px;
    text-decoration: none;
}

.hidden a {
    color: #292E36;
    font-weight: 400;
    font-size: 20px;
    text-decoration: none;
    cursor: pointer;
}

.header_link :first-child {
    color: #E1B168;
}

.header_images {
    margin-top: 15px;
    margin-left: 305px;
    display: flex;
    align-items: center;
    min-width: 179px;
    justify-content: space-around;
    height: 30px;
}


/* Main */

/* Welcome */
.welcome {
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.welcome_text {
    width: 655px;
    height: 418px;
    display: flex;
    flex-direction: column;
}

.welcome_text h2 {
    font-weight: 400;
    font-size: 100px;
    color: #FFFFFF;
    line-height: 110px;
}

.welcome_text p {
    width: 616px;
    font-weight: 400;
    font-size: 20px;
    color: #FFFFFF;
    line-height: 30px;
    margin-top: 50px;
}

.view_menu {
    width: 230px;
    height: 73px;
    border: 2px solid #E1B168;
    color: #E1B168;
    font-weight: 400;
    font-size: 22px;
    line-height: 33px;
    text-align: center;
    margin-top: 18px;
    background-color: #292E36;
}

.welcome_image img {
    width: 655px;
    height: 769.66px;
}

/* Location */

.location {
    position: relative;
    background-color: #FFF8F5;
    min-width: 1519px;
    left: -90px;
    display: flex;
    justify-content: space-around;
}

.locate {
    margin-left: 110px;
}


.locate,
.open,
.reservation {
    margin-top: 50px;
    margin-bottom: 50px;
    width: 444px;
    height: 83px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.locate_text {
    width: 325px;
    height: 74px;
}

.open_text,
.reservation_text {
    width: 284px;
    height: 74px;
}

.locate_text p,
.open_text p,
.reservation_text p {
    font-size: 30px;
    line-height: 39px;
    font-weight: 400;
}

.locate_text span,
.open_text span,
.reservation_text span {
    color: #555555;
    font-size: 20px;
    line-height: 30px;
    font-weight: 400;
}


/* Story */
.story {
    position: relative;
    background-color: #FFF8F5;
    min-width: 1519px;
    height: 728px;
    left: -90px;
}

.story_child {
    width: 1360px;
    height: 568px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    left: 122px;
    gap: 25px;
}

.story_text {
    width: 571px;

}

.story_time {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 38px;
    margin-bottom: 23px;
}

.story_text h3,
.time_one h3,
.time_two h3 {
    font-weight: 400;
    font-size: 40px;
    line-height: 56px;
}

.story_text p,
.time_one p,
.time_two p {
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #555555;
}


/* Testimonial */

.testimonial {
    margin-top: 140px;
}

.testimonial_text {
    color: #FFFFFF;
    font-size: 15px;
    line-height: 22.5px;
    font-weight: 400;
}

.testimonial_text p:first-child {
    width: 141px;
    text-align: center;
    margin-bottom: 10px;
    border: 4px outset #E1B168;
}

.testimonial_text h3 {
    font-size: 40px;
    line-height: 56px;
    font-weight: 400;
}

.testimonial_text p:last-child {
    font-size: 20px;
    line-height: 30px;
    font-weight: 400;
    margin-bottom: -42px;
}

.testimonial_coment {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1360px;
    height: 472px;
    gap: 25px;
    overflow: hidden;
}

.parent_coment {
    position: relative;
    min-width: 544px;
    height: 330px;
    background-color: #343942;
    color: white;
    padding: 20px 20px;
    transition: all 250ms ease-in-out;
    -webkit-transition: all 250ms ease-in-out;
    -moz-transition: all 250ms ease-in-out;
    -ms-transition: all 250ms ease-in-out;
    -o-transition: all 250ms ease-in-out;
}

.parent_coment hr {
    color: #797E89;
}

.testimonial_coment_image {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 20px;
    margin-bottom: 25px;
}

.testimonial_coment_image p:first-child {
    font-size: 30px;
    line-height: 42px;
    font-weight: 400;
}

.testimonial_coment_image p:last-child {
    font-size: 20px;
    line-height: 30px;
    font-weight: 400;
    color: #E1B168;
}

.testimonial_coment_text p {
    font-weight: 400;
    font-size: 24px;
    line-height: 37.5px;
    color: #FFFFFF;
    text-align: center;
    margin-top: 15px;
}

.testimonial_vecture {
    text-align: center;
    margin-bottom: 150px;
}

.testimonial_vecture img {
    cursor: pointer;
}



/* Image */

.image {
    position: relative;
    left: -90px;
    bottom: -4px;

}

.image img {
    min-width: 1519px;
    height: 600px;
}



/* Offer */

.offer {
    background-color: #FFF8F5;
    position: relative;
    min-width: 1519px;
    left: -90px;
    padding: 77px;

}

.offer_text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.offer_text p:first-child {
    font-size: 15px;
    line-height: 22.5px;
    font-weight: 400;
    color: #292E36;
    text-align: center;
    border: 4px outset #E1B168;
    width: 78px;
}

.offer_text h2 {
    font-size: 40px;
    line-height: 56px;
    font-weight: 400;
    color: #292E36;
}

.offer_text p:last-child {
    font-size: 20px;
    line-height: 30px;
    font-weight: 400;
    color: #555555;
    width: 697px;
    text-align: center;
}

.offer_food {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    width: 1360px;
    height: 409px;
    gap: 20px;
}

.offer_food_box {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    width: 665px;
    height: 409px;
}

.number_one {
    background-image: url("./Images/Backgraound.png");
}

.number_two {
    background-image: url("./Images/Backgraound\(2\).png");
}

.number_one,
.number_two {
    padding: 30px;
}

.offer_food_text img {
    margin-bottom: 20px;
}

.offer_befor_after {
    color: #292E36;
    font-size: 15px;
    font-weight: 400;
    line-height: 22.5px;
    margin: 14px;
}

.offer_befor_after::before {
    content: "______________";
    color: #292E36;
    position: absolute;
    width: 212.5px;
    height: 3px;
    top: 531px;
}

.number_one .offer_befor_after::after {
    content: "______________";
    color: #292E36;
    position: absolute;
    width: 212.5px;
    height: 3px;
    top: 507px;
    left: 161px;
}

.number_two .offer_befor_after::after {
    content: "______________";
    color: #292E36;
    position: absolute;
    width: 212.5px;
    height: 3px;
    top: 507px;
    right: 465px;
}

.offer_food_text h2 {
    color: #292E36;
    font-size: 40px;
    font-weight: 400;
    line-height: 56px;
}

.offer_food_text p:last-of-type {
    width: 245px;
    height: 60px;
    color: #555555;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    text-align: center;
}

/* What we offer */


.what_we_offer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #FFF8F5;
    position: relative;
    min-width: 1519px;
    left: -90px;
    padding: 100px;
}

.what_we_offer_text {
    width: 448px;
    height: 214px;
    color: #292E36;
    margin-top: 118px;
    margin-bottom: 118px;
}

.what_we_offer_text p:first-child {
    font-size: 15px;
    font-weight: 400;
    line-height: 22.5px;
    border: 4px outset #E1B168;
    width: 172px;
    text-align: center;
    margin-bottom: 26px;
}

.what_we_offer_text h2 {
    font-size: 40px;
    font-weight: 400;
    line-height: 56px;
    margin-bottom: 26px;
}

.what_we_offer_text p:last-child {
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    width: 438px;
}

.what_we_offer_picture {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 118px;
    margin-bottom: 118px;
    gap: 35px;
}

.when,
.special,
.delivery {
    width: 254px;
    height: 235px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
    color: #292E36;
    border: 20px solid #323841;
    font-size: 25px;
    line-height: 35px;
    cursor: pointer;
}








/* Blog Page */
.container_blog {
    position: absolute;
    width: 1360px;
    top: 50px;
    left: 77px;
    text-align: center;
}

.container_blog h1 {
    font-weight: 400;
    font-size: 112px;
    line-height: 85px;
    color: #E1B168;
}

.container_blog h2 {
    font-weight: 400;
    font-size: 45px;
    line-height: 56px;
    color: #E1B168;
    text-align: center;
    margin-bottom: 16px;
    margin-top: 71px;
}

.discription_blog {
    color: #90CAF9;
    font-weight: 400;
    font-size: 25px;
    width: 456px;
    margin-left: 450px;
}


/* Picture of Blog */
.picture_blog {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 100px;
    margin-bottom: 150px;
}

.delicious,
.cooking {
    width: 640px;
    height: 720px;
    border: 3px solid #C4C4C4;
}

.view_more img {
    width: 632px;
    height: 384px;
    object-fit: cover;
    filter: brightness(0.5);
    -webkit-filter: brightness(0.5);
}

.view_more button {
    position: relative;
    width: 227px;
    height: 73px;
    background-color: #E1B168;
    color: #292E36;
    font-size: 22px;
    font-weight: 400;
    line-height: 33px;
    border: none;
    top: -226px;
    cursor: pointer;
}

.delicious_text {
    width: 632px;
    height: 336px;
    color: #90CAF9;
    margin-top: -62px;
}

.span_blog {
    width: 548px;
    height: 30px;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 35px;
    line-height: 46px;
    font-weight: 400;
    padding-left: 99px;
    margin-bottom: 42px;
    margin-top: 15px;
}

.delicious_text h3 {
    width: 502px;
    height: 78px;
    font-size: 30px;
    line-height: 39px;
    font-weight: 400;
    text-align: center;
    margin-left: 66px;
    margin-bottom: 37px;
}


.delicious_text p {
    font-size: 21px;
    line-height: 33px;
    color: white;
}













/* ContainerMenu Page */
.cotainer_menu {
    position: absolute;
    width: 1360px;
    top: 50px;
    left: 90px;
    text-align: center;
}

.cotainer_menu h1 {
    font-weight: 400;
    font-size: 112px;
    line-height: 85px;
    color: #E1B168;
}

.cotainer_menu h2 {
    font-weight: 400;
    font-size: 45px;
    line-height: 56px;
    color: #E1B168;
    text-align: start;
    margin-bottom: 85px;
    margin-top: 25px;
}


.starter {
    margin-top: 50px;
}

.starter,
.Main-Dish,
.Dessert {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.menu {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-around;
}



/* Popular Dishes */
.discription_text {
    color: #90CAF9;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    height: 56px;
    width: 652px;
    margin: -62px 0 55px 357px;
}

.Popular_dishes_menu {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    width: 1360px;
    height: 489.63px;
}

.Popular_dishes_btn {
    border: 2px solid #E1B168;
    color: #E1B168;
    background-color: #292E36;
    width: 255px;
    height: 73px;
    font-size: 22px;
    line-height: 33px;
    text-align: center;
    margin-bottom: 50px;
    cursor: pointer;
    margin-top: 150px;
}


/* Special Dishes */
.Special_dishes p {
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #90CAF9;
    width: 486px;
    height: 120px;
    position: relative;
    left: 33%;
    margin-top: 20px;
}

.Special_dishes img,
.special_dishes_all img {
    height: 398px;
    width: 350px;
    border-radius: 15px;
    border: 4px solid #E1B168;
}

.Special_dishes_btn {
    border: 2px solid #E1B168;
    color: #E1B168;
    background-color: #292E36;
    width: 255px;
    height: 73px;
    font-size: 22px;
    line-height: 33px;
    text-align: center;
    margin-bottom: 50px;
    cursor: pointer;
    margin-top: 28px;
}



/* special Dishes All */
.special_dishes_all {
    display: none;
    align-items: center;
    justify-content: center;
    gap: 20px;
    cursor: pointer;
}

.special_dishes_all p {
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #90CAF9;
    width: 486px;
    height: 120px;
    position: relative;
    left: -3%;
    margin-top: 20px;
}

.special_dishes_all p:last-of-type {
    font-size: 32px;
    color: #E1B168;
    margin: 0;
    height: 42px;
    position: relative;
    left: -4px;
}

.special_dishes_all img {
    transition: width 250ms ease-in-out, height 350ms ease-in-out;
    -webkit-transition: width 250ms ease-in-out, height 350ms ease-in-out;
    -moz-transition: width 250ms ease-in-out, height 350ms ease-in-out;
    -ms-transition: width 250ms ease-in-out, height 350ms ease-in-out;
    -o-transition: width 250ms ease-in-out, height 350ms ease-in-out;
}

.special_dishes_all img:hover {
    width: 450px;
    height: 498px;
}



/* Cart Items */
.contents_section hr {
    margin-bottom: 153px;
}

.cart_row {
    display: flex;
    align-items: start;
    justify-content: space-evenly;
    text-align: start;
    width: 1360px;
    font-size: 30px;
    font-weight: 400;
    line-height: 55px;
}

.cartItem_item {
    margin: 0 160px;
}

.cartItem_price {
    margin: 0px 142px;
}

.parent_cart {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.cart_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 31px;
    margin: 0 281px;
}

.cart_image {
    width: 111px;
    height: 121px;
    object-fit: cover;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
}

.remove_item {
    border: 2px solid #E1B168;
    width: 114px;
    height: 38px;
    margin-left: 67px;
    background-color: #292E36;
    color: #E1B168;
    font-size: 19px;
    border-radius: 12px;
    cursor: pointer;

}

.cart_total {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 15px;
    font-size: 25px;
    line-height: 33px;
    font-weight: 400;
}


.calculate_btn {
    margin-left: 71px;
    margin-bottom: 138px;
}














/* Footer */


.footer_picture {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 50px;
    margin-bottom: 50px;
}

.faceInsta,
.twitpinter {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 70px;
}


.footer_text {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 25px;
    color: #FFFFFF;
}


.contact,
.working_hours {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 12px;
}

.contact p:nth-last-child(2),
.contact p:last-child,
.weekdays {
    color: #E1B168;
}

.contact p:first-child,
.working_hours p {
    border: 4px outset #E1B168;
    text-align: center;
    font-size: 15px;
    line-height: 21px;
    font-weight: 400;
    width: 176px;
    margin-bottom: 35px;
}

.gmail {
    width: 664px;
    height: 176px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.gmail p {
    width: 303px;
    height: 30px;
    font-size: 20px;
    line-height: 30px;
    font-weight: 400;
    text-align: center;
}

.gmail div {
    min-width: 664px;
    height: 68px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #858585;
}

.email {
    width: 456px;
    height: 68px;
    outline: none;
    background-color: #292E36;
}

.email::placeholder,
.email {
    color: #FFFFFF;
    font-size: 22px;
    line-height: 33px;
    padding: 2px;
}

.gmail div button {
    width: 208px;
    height: 68px;
    background-color: #FFFFFF;
    color: #000000;
    font-size: 22px;
    line-height: 33px;
    cursor: pointer;
}

footer hr {
    color: #575B62;
    margin-top: 28px;
}







/* Project Responsive */


@media only screen and (max-width: 768px) {

    .title,
    .welcome {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        justify-content: center;
    }

    .hidden {
        display: flex;
    }

    .welcome {
        margin-top: -584px;
    }

    .header_images,
    .header_link,
    .number_title {
        display: none;
    }

    .view_menu {
        align-self: center;

    }

    .title_menu_img {
        display: block;
    }

    .button_title {
        margin-top: 4px;
    }
}